{% extends 'base.html'%}
{% block content %}
<div class="search_container">
    <div class="search_bar">
        <form action="" method="post" id="search-form">
            {% csrf_token %}
            <div class="form-group row search_field">
                <label for="{{form.search_field.id_for_label}}" class="col-md-4 col-form-label text-md-right">{{form.search_field.label}}:</label>
                <div class="col-md-6">
                    {{form.search_field}}
                </div>
            </div>
        </form>
    </div>
    <div class="search_result">
        {% if users|length == 0%}
        <div class="no_users">Пользователя с таким ником не существует</div>
        {% else %}
            {% for user in users %}
            <a href="{% url 'profile' user.id %}" class="user_ref">
                <div class="user">
                    <div class="photo">
                        {% if user.photo %}
                        <img src="{{ user.get_photo_url }}" alt="" style="max-width: 100px;">
                        {% else %}
                        <img src="/media/photos/placeholder.png" alt="" style="max-width: 100px;">
                        {% endif %}
                    </div>
                    <div class="nickname">{{ user.nickname }}</div>
                </div>
            </a>
            {% endfor %}
        {% endif %}
    </div>
</div>
{% endblock %}